/*! Custom styles for this template */
html {
  height: 100%;
}
body {
  background-color: #fff;
  border-color: #fff;
  color: #555;
}
body.home section {
  text-align: center;
}
body.spinner {
  position: fixed;
}
.navbar {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  /*visibility: hidden;*/
  z-index: 1000;
  -webkit-transform: translateZ(0);
}
.navbar-btn-group {
  display: none;
}
.masthead {
  background-color: #0298ea;
  background-image: url("../img/bg-waves2-min.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: table;
    min-height: 100%;
  padding: 20px 0;
  position: relative;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
.masthead-inner {
  display: table-cell;
  vertical-align: middle;
}
.masthead-heading {
  color: #fff;
  font-weight: 300;
}
.masthead-lead {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 30px;
}
.masthead-img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.divider {
  margin: 15px;
}
.row + .row {
  margin-top: 60px;
  position: relative;
}
.feature-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.feature {
  margin-bottom: 30px;
  margin-top: 30px;
}
.feature:before,
.feature:after {
  content: " ";
  display: table;
}
.feature:after {
  clear: both;
}
.feature-icon {
  border: 2px solid #e0e0e0;
  border-radius: 50%;
  color: #0078c1;
  display: inline-block;
  font-size: 40px;
  height: 80px;
  line-height: 80px;
  margin-bottom: 30px;
  width: 80px;
}
.half-rule {
  background-color: #0298ea;
  border: none;
  display: inline-block;
  height: 2px;
  margin-bottom: 0;
  margin-top: 0;
  width: 150px;
}
footer {
  background-color: #212121;
  color: #e0e0e0;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}
.footer-heading {
  font-size: 16px;
  font-weight: 700;
}
ul.footer-links {
  list-style: none;
  margin-bottom: 30px;
  padding-left: 5px;
}
ul.footer-links > li {
  display: block;
  margin-bottom: 10px;
}
ul.footer-links > li > a {
  color: #e0e0e0;
}
ul.footer-links.inline {
  padding-left: 0;
}
ul.footer-links.inline > li {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 0;
}
ul.footer-links.inline > li:first-of-type {
  padding-left: 10px;
}
ul.footer-links.inline > li:before {
  content: "\f105";
  font-family: "FontAwesome";
  display: inline-block;
  margin-left: -10px;
  width: 10px;
}
.social-list {
  margin-bottom: 30px;
  text-align: center;
}
.social-list-item {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  height: 32px;
  line-height: 32px;
  margin: 5px;
  text-align: center;
  width: 32px;
}
.social-list-item:hover {
  background-color: #fff;
  color: #212121;
}

@media (min-width: 768px) {
  .navbar-btn-group {
    display: block;
    margin-left: 15px;
  }
  .divider {
    margin: 0;
  }
  .feature-icon {
    float: left;
    margin-right: 30px;
  }
  .feature-content {
    overflow: hidden;
    text-align: left;
  }
  .fact {
    width: 25%;
  }
}

section {
  padding: 30px 0;
}
section.button-banner {
  padding: 40px 0;
  background: #0298ea;
  position: relative;
  background-image: url("../img/bg-waves2-min.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
section.button-banner .btn {
  font-size: 16px;
  background-color: #00619d;
  border-color: #00619d;
}
section.button-banner .btn:hover {
  background-color: #0c7cd5;
  border-color: #0c7cd5;
}
section.button-banner .btn .icon-lightbulb-o {
  font-size: 19px;
  padding-right: 5px;
  color: #ffe05e;
}
.speech-triangle:after {
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 20px 30px 0;
  content: " ";
  height: 0;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: -2px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  z-index: 15;
}
section.faq ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
section.faq ul > li {
  margin-top: 45px;
  text-align: left;
}
section.faq ul > li > h4 {
  margin-top: 0;
}
section.faq ul > li > p {
  font-size: 14px;
}
section.browse {
  padding: 0;
}
section.browse ul {
  list-style: none;
  padding-left: 0;
}
section.browse ul > li {
  display: inline-block;
  padding-right: 5px;
}
section.institutions .card-grid {
  padding-top: 20px;
}
.card-grid .card-thumbnail {
  background-position: center;
  background-repeat: no-repeat;
}
.card-grid .card-title {
  font-size: 14px;
}
.card-grid .card-text {
  line-height: 1.1;
}
.card:hover {
  cursor: pointer;
}
.logo {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #eee;
}
section.courses .card-title {
  font-size: 16px;
}
section.courses h5 {
  margin: 0;
}
/*.ribbon-wrapper {
  width: 95px;
  height: 95px;
  overflow: hidden;
  position: absolute;
  bottom: -2px;
  right: -2px;
  z-index: 2;
}
.ribbon {
  font-size: 12px;
  line-height: 1;
  text-align: center;
  position: relative;
  padding: 3px 0;
  width: 140px;
  background-color: #0078c1;
  color: #fff;
  right: 5px;
  bottom: -50px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}*/
table.course-details td {
  vertical-align: top;
  font-size: 13px;
}
table.course-details td:first-of-type {
  width: 45%;
}
.fee {
  color: #0078c1;
}
.fee > s > span {
  color: #555;
}

@media (min-width: 768px) {
}
